@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h2>About My Shoe Store</h2>
    <p>Welcome to my shoe store, where you can find everytype of shoes with comfort and softness. At my store, I'am passionate about providing high-quality, stylish footwear for every occasion. Whether you're looking for casual, athletic, or kids shoes, we have a wide range of options to meet your needs.</p>

    <h3>Our Mission</h3>
    <p>Our mission is to help you put your best foot forward. We believe that the right pair of shoes can not only elevate your style but also enhance your comfort and confidence. We're dedicated to offering a curated selection of footwear that combines fashion, functionality, and affordability.</p>

    <h3>Our Products</h3>
    <p>We offer a diverse range of shoes for men, women, and children. Our collection includes:</p>
    <ul>
        <li>Casual shoes for everyday wear</li>
        <li>Athletic shoes for sports and active lifestyles</li>
        <li>Kids and Formal shoes for special occasions</li>
        <li>Boots, sandals, and more</li>
    </ul>

    <h3>Visit Us</h3>
    <p>We invite you to visit our store and explore our wide selection of shoes. Our friendly and knowledgeable staff is here to assist you in finding the perfect pair to suit your style and needs. If you prefer online shopping, you can browse our catalog and place orders from the comfort of your home.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions, suggestions, or inquiries, please feel free to contact us. We value your feedback and are committed to providing the best customer service possible.</p>
    <p>Contact Information:</p>
    <address>
        Email: W0834114@myscc.ca<br>
        Phone: (226) 961-7149
    </address>
</div>
