@{
    ViewData["Title"] = "Home Page";
}

    <title>Welcome to Taneja's Shoe Store</title>


    <div class="background-image text-center">
        <h1 class="display-4">Welcome to Taneja's Shoe Store</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


