@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Index.css" rel="stylesheet"/>
    <title>Welcome to Taneja's Shoe Store</title>
    <body>

        <div class="text-center">
            <h1 class="display-4">Welcome to Taneja's Shoe Store</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <img src="~/img/shoe.jpg" alt="shoe" width:29px; height:45px; />
       
    </body>
